<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}NlThemeBundle{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/nltheme/css/ui-lightness/jquery-ui-1.8.18.custom.css'
                           filter='cssrewrite'
             %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}            
            {% stylesheets 'bundles/nltheme/css/admin.less'
                           filter='lessphp,cssrewrite'
             %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
                
        {% block javascript_head %}
            {% javascripts
                '@NlThemeBundle/Resources/public/js/*'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header">
            {% block header %}
                {% block logo %}
                <div class="logo">
                    Nitra Logo
                </div>
                {% endblock %}
                {% block profile %}
                <div class="profile">
                    <a href="#">Username</a>
                    <a class='logout' href="#">Вихід</a>
                </div>
                {% endblock %}
                {% block menu %}
                <div class="main_menu">
                     {{ millwright_menu_render('main') }}
                </div>
                {% endblock %}
            {% endblock %}
        </div>
            
        {% block flashes %}
            {% if app.session.flash('success') %}
                <div class="notification_box success">
                    {{ app.session.flash('success')|raw }}
                </div>
            {% endif %}
            {% if app.session.flash('error') %}
                <div class="notification_box error">
                    {{ app.session.flash('error')|raw }}
                </div>
            {% endif %}
        {% endblock %}
            
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            
        {% endblock %}
    </body>
</html>
